@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #eee;
  max-width: 50rem;
  margin: auto;
  padding: 1em;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 480px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

nav > a {
  display: inline-block;
  text-decoration: none;
  margin-left: 1em;
  color: #eee;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3.5em;
  margin-bottom: 2em;
}

.heading {
  font-size: 2em;
  display: inline-block;
}

.heading:nth-child(2) {
  font-size: 3em;
  background-image: linear-gradient(45deg, #3b5efa, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (min-width: 480px) {
  .headings {
    line-height: 4em;
  }

  .heading {
    font-size: 3em;
  }

  .heading:nth-child(2) {
    font-size: 4em;
  }
}

.bio {
  text-align: center;
  color: grey;
  max-width: 38rem;
}

.buttons {
  margin-top: 2em;
}

.buttons > button {
  width: 130px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  font-weight: 700;
  height: 40px;
  cursor: pointer;
}

.buttons > button:nth-child(1) {
  color: #eee;
  background-color: #3b5efa;
}

.buttons > button:nth-child(2) {
  color: #eee;
  background-color: #000;
  border: 2px solid #3b5efa;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer > a {
  display: inline-block;
  color: #eee;
  text-decoration: none;
}
